.Toggler
{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--gold);
    border: 1px solid var(--gold);
    background: linear-gradient(180deg, #FF6FCE -2.76%, #89C8EB 100.64%);
    z-index: calc(6*var(--z));
    transform: rotate(0);
    transition: transform 0.2s linear
}

.Toggler.Open
{
    transform: rotate(180deg);
}

footer
{
    background-color: var(--form-bg);
    text-align: center;
    padding: 20px;
    
}

.Copyright
{
    font-style: italic;
    font-family: 'Croissant One', cursive;
    color: var(--gold);
    letter-spacing: 2px;
    font-weight: bold;
}

.Copyright a
{
    color: var(--purple)
}

.Disclaimer
{
    margin-top: 40px;
    letter-spacing: 1.5px;
     font-family: 'Crimson Pro', serif;
    color: var(--gold);
}

.Content
{
    min-height: 900px;
}

@media screen and (min-width:768px)
{
    .Toggler
    {
        display: none;
    }
       
    .MainAppContainer
    {
        display: grid;
        grid-template-columns: 250px 1fr;
        width: 100vw;
        gap:10px;
    }

    footer
    {
        transform: translateX(-10px);
        
    }


}
