.Form
{
    background-color: var(--blue);
    border: 2px dashed var(--gold);
    padding: 10px;
    
}

.Title
{
    color: var(--gold);
    font-size: 1.5rem;
    font-family: 'Revalia',cursive;
}

.Inputs > div
{
    margin-bottom: 10px;
}

.Form button
{
    margin: 20px 10px;
}

@media screen and (min-width:500px)
{
    .Inputs
    {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
