.SideMenu
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--form-bg);
    overflow-y: auto;
    padding: 10px;
    z-index: calc(5*var(--z));
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
}



.SideMenu.Open
{
    transform: translateX(0);
}

.Logo
{
    width: 50%;
    margin: auto;
    padding: 22px 0

}

.SideMenu h3
{
    text-transform: capitalize;
    color: var(--gold); 
    font-family: 'Revalia', cursive;
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px;
}

.Routes
{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.Routes li
{
    color: var(--gold);
    text-align: center;
    margin: 10px 0;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 20% 1fr;
}

.Routes li a
{
    display: block;
    color: var(--gold);
}

.Logout
{
    display: block;
    margin: 70px auto 0;
}

@media screen and (min-width:768px)
{
    .SideMenu
    {
        transform: translateX(0);
    }
}
