.SideMenu
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--blue);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: calc(5*var(--z));
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
}



.SideMenu.Open
{
    transform: translateX(0);
}

.Logo
{
    width: 50%;
    margin: auto;
    padding: 22px 0

}

.SideMenu h3
{
    text-transform: capitalize;
    color: var(--gold); 
    font-family: 'Revalia', cursive;
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px;
}

.Routes
{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.Routes li
{
    text-align: center;
    margin: 15px 0;
    font-size: 1.2rem;
    
}

.Routes li a
{
    display: grid;
    grid-template-columns: 20% 1fr;
    color: var(--gold);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;    
    font-family: 'Revalia', cursive;
}

.Routes li a::after
{
    content: "";
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: -8px;
    height: 1px;
    background-color: var(--purple);
    transform: translateX(-100%);
    transition: transform 0.2s linear;
}

.Routes li a.Active::after,
.Routes li a:hover::after
{
   
    transform: translateX(0%);
}

.Logout
{
    display: block;
    margin: 70px auto 0;
}

@media screen and (min-width:768px)
{
    .SideMenu
    {
        transform: translateX(0);
    }
}
