.Title
{
    font-size: 1.2rem ;
    text-transform: capitalize;
    color: var(--gold);
    display: inline-block;
    border: 1px solid var(--purple);
    margin: 20px 12px;
    padding: 10px;
    border-radius: 10px;
}

.GemCount
{
    background-color: var(--form-bg);
    padding: 10px;
    max-width: 500px;
    width: 100%;
    margin: 10px auto;
    color: var(--gold);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}

.CountText
{
    font-family:"'Croissant One'", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, cursive;
    font-size: 1.2rem;
    line-height: 1.8;
}

.Count
{
    font-size: 5rem;
    font-family: "Crimson Pro", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ChartFlex
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;

}

.ChartFlex > div
{
    
    padding: 10px 30px 10px 10px;
}




@media screen and (min-width:768px)
{
    .Title
    {
        font-size: 2rem;
        margin: 20px 0px;
    }


    .ChartFlex > div
    {
        
        padding: 5px
    }

}
